# LANGUAGE STATISTICS

1. [Number of records per language (table)](#records-per-lang) 
2. [Number of records per language with all English records combined (table)](#records-per-lang-eng) 
3. [Sources of records with languages](#source-per-record-lang)
4. [Misc analysis - check sources of 'eee' and 'en' languages](#misc)

In [3]:
import os

SHARE_FILE = os.path.join('..', '..', 'data', 'share-jan-2019.json')

In [4]:
import json
from collections import defaultdict

# number of records with a given language 
languages = defaultdict(int)

with open(SHARE_FILE, 'r') as f:
    for line in f:
        data = json.loads(line)
        
        if data['language'] is None or data['language'].strip() == '':
            languages[None] +=1
        else:
            languages[data['language']] += 1

## <a id='records-per-lang'>NUMBER OF RECORDS PER LANGUAGE</a>

In [24]:
import pandas as pd
df = pd.DataFrame(sorted(languages.items(), key = lambda kv : kv[1], reverse = True), \
                  columns = ['Source', 'Records'])

display(df)

    Source  Records
0     None  2170828
1      eng    36848
2       en    10950
3      eee     3861
4      spa        2
5      fra        2
6      deu        2
7  English        1
8      ita        1

## <a id='records-per-lang-eng'>NUMBER OF RECORDS PER LANGUAGE (ALL ENGLISH RECORDS COMBINED)</a>

In [25]:
df.loc[1, 'Records'] += df.loc[2, 'Records'] + df.loc[7, 'Records'] 
df = df[df.Source != 'en']
df = df[df.Source != 'English']

display(df)

  Source  Records
0   None  2170828
1    eng    47799
3    eee     3861
4    spa        2
5    fra        2
6    deu        2
8    ita        1

## <a id='source-per-record-lang'>SOURCES OF RECORDS WITH LANGUAGES</a>

In [41]:
import json
from collections import defaultdict

# number of records per source for records with languages
sources = defaultdict(int)

with open(SHARE_FILE, 'r') as f:
    for line in f:
        data = json.loads(line)
        
        if data['language'] is None or data['language'].strip() == '':
            pass
        else:
            for source in data['sources']:
                sources[source] += 1

In [42]:
import pandas as pd
df = pd.DataFrame(sorted(sources.items(), key = lambda kv : kv[1], reverse = True), \
                  columns = ['Source', 'Records'])

display(df)

                                               Source  Records
0                                               arXiv    32021
1                      DoE's SciTech Connect Database    28073
2                                            CrossRef    25728
3                                             bioRxiv     9867
4                          Department of Energy Pages     6590
5                        Research Papers in Economics     4816
6                       Munich Personal RePEc Archive     4786
7                                       Preprints.org     3578
8                       Hyper Articles en Ligne (HAL)     3082
9                                        Digital.CSIC     2342
10                               CERN Document Server     1962
11                                         DSpace@MIT     1790
12                                              PeerJ     1382
13             Ghent University Academic Bibliography      797
14   University of Texas at Austin Digital Repository      674
15                                       DataCite MDS      586
16                           The UA Campus Repository      313
17                   Apollo @ University of Cambridge      301
18                                    KU ScholarWorks      284
19           Digital Access to Scholarship at Harvard      169
20                                     PubMed Central      156
21                           Virginia Tech VTechWorks       76
22                            Nature Publishing Group       61
23                                           Springer       36
24                    Florida Institute of Technology       27
25        Arizona State University Digital Repository       24
26                                           EconStor       17
27                                           figshare       17
28                          Duke University Libraries       12
29                                ScholarsArchive@OSU       12
30                           WHOAS at MBLWHOI Library       11
31                          Public Library of Science       10
32                                             Zenodo        9
33                                  OpenKnowledge@NAU        9
34  RCAAP - Repositório Científico de Acesso Abert...        5
35                                 CSIR Researchspace        4
36                                      Mendeley Data        4
37                                     BioMed Central        4
38                                             OpenBU        4
39         Eprints in Library and Information Science        3
40                                                OSF        3
41    University of Delaware Institutional Repository        3
42       Indiana University Libraries' IUScholarWorks        2
43           ResearchWorks @ University of Washington        2
44      Huskie Commons @ Northern Illinois University        2
45  PAPYRUS - Dépôt institutionnel de l'Université...        1
46                   MOspace Institutional Repository        1
47                    United States Geological Survey        1
48                              Dryad Data Repository        1
49       The OAKTrust Digital Repository at Texas A&M        1
50                                     eLife Sciences        1
51  The University of Maryland Libraries DRUM (Dig...        1

## <a id='misc'>MISC ANALYSIS</a>

In [32]:
# check the sources of 'eee' and 'en' since they appear to be errors, especially eee

import json
from collections import defaultdict

# number of records with a given language 
eee_sources = defaultdict(int)
en_sources = defaultdict(int)

with open(SHARE_FILE, 'r') as f:
    for line in f:
        data = json.loads(line)
        
        if data['language'] == 'eee':
            for source in data['sources']:
                eee_sources[source] += 1
                
        if data['language'] == 'en':
            for source in data['sources']:
                en_sources[source] += 1

### SINGLE SOURCES FOR LANGUAGE = 'eee'

In [34]:
import pandas as pd
df = pd.DataFrame(sorted(eee_sources.items(), key = lambda kv : kv[1], reverse = True), \
                  columns = ['Source', 'Records'])

display(df)

                                              Source  Records
0                                      Preprints.org     3578
1                                           CrossRef     2102
2                                              arXiv      284
3   University of Texas at Austin Digital Repository      237
4                           Virginia Tech VTechWorks       46
5                      Hyper Articles en Ligne (HAL)        9
6                                         DSpace@MIT        8
7                               CERN Document Server        4
8           Digital Access to Scholarship at Harvard        3
9                                                OSF        2
10                                 OpenKnowledge@NAU        2
11                                      DataCite MDS        1
12                    DoE's SciTech Connect Database        1
13                                            OpenBU        1
14            Ghent University Academic Bibliography        1

### SINGLE SOURCES FOR LANGUAGE = 'en'

In [35]:
import pandas as pd
df = pd.DataFrame(sorted(en_sources.items(), key = lambda kv : kv[1], reverse = True), \
                  columns = ['Source', 'Records'])

display(df)

                                              Source  Records
0                                            bioRxiv     9862
1                                           CrossRef     7668
2                                              PeerJ     1088
3                                       DataCite MDS       38
4                      Hyper Articles en Ligne (HAL)       15
5                                              arXiv       11
6                                             Zenodo        9
7                                           figshare        9
8                                     PubMed Central        3
9           Digital Access to Scholarship at Harvard        2
10                                     Mendeley Data        2
11  University of Texas at Austin Digital Repository        1
12                                        DSpace@MIT        1
13                                               OSF        1
14       Arizona State University Digital Repository        1

In [36]:
# check the sources of 'eee' and 'en' since they appear to be errors, especially eee

import json
from collections import defaultdict

# number of records with a given language 
eee_sources_combined = defaultdict(int)
en_sources_combined = defaultdict(int)

with open(SHARE_FILE, 'r') as f:
    for line in f:
        data = json.loads(line)
        
        
        if data['language'] == 'eee':
            data['sources'].sort()
            eee_sources_combined['--'.join(data['sources'])] += 1
                
        if data['language'] == 'en':
            data['sources'].sort()
            en_sources_combined['--'.join(data['sources'])] += 1

### COMBINED SOURCES FOR LANGUAGE = 'eee'

In [37]:
import pandas as pd
df = pd.DataFrame(sorted(eee_sources_combined.items(), key = lambda kv : kv[1], reverse = True), \
                  columns = ['Source', 'Records'])

display(df)

                                               Source  Records
0                             CrossRef--Preprints.org     1917
1                                       Preprints.org     1658
2   CrossRef--University of Texas at Austin Digita...      139
3   University of Texas at Austin Digital Reposito...       77
4           CrossRef--Virginia Tech VTechWorks--arXiv       27
5                     Virginia Tech VTechWorks--arXiv       15
6   CrossRef--DSpace@MIT--University of Texas at A...        6
7   Hyper Articles en Ligne (HAL)--University of T...        4
8   CERN Document Server--CrossRef--Virginia Tech ...        3
9   CrossRef--Digital Access to Scholarship at Har...        2
10  CrossRef--DSpace@MIT--Hyper Articles en Ligne ...        2
11         CrossRef--DataCite MDS--OSF--Preprints.org        1
12                     CrossRef--Preprints.org--arXiv        1
13                       CrossRef--OSF--Preprints.org        1
14  DoE's SciTech Connect Database--Virginia Tech ...        1
15  Hyper Articles en Ligne (HAL)--OpenKnowledge@N...        1
16  CrossRef--Hyper Articles en Ligne (HAL)--Unive...        1
17  CrossRef--OpenBU--University of Texas at Austi...        1
18  Digital Access to Scholarship at Harvard--Univ...        1
19  OpenKnowledge@NAU--University of Texas at Aust...        1
20  CERN Document Server--University of Texas at A...        1
21  CrossRef--Ghent University Academic Bibliograp...        1

### COMBINED SOURCES FOR LANGUAGE = 'en'

In [38]:
import pandas as pd
df = pd.DataFrame(sorted(en_sources_combined.items(), key = lambda kv : kv[1], reverse = True), \
                  columns = ['Source', 'Records'])

display(df)

                                               Source  Records
0                                   CrossRef--bioRxiv     6547
1                                             bioRxiv     3255
2                                     CrossRef--PeerJ     1072
3    CrossRef--Hyper Articles en Ligne (HAL)--bioRxiv       11
4                     CrossRef--DataCite MDS--bioRxiv        9
5                               DataCite MDS--bioRxiv        9
6                       CrossRef--DataCite MDS--PeerJ        8
7             CrossRef--DataCite MDS--Zenodo--bioRxiv        6
8                                        PeerJ--arXiv        4
9              Hyper Articles en Ligne (HAL)--bioRxiv        3
10                                  bioRxiv--figshare        3
11                          CrossRef--Zenodo--bioRxiv        2
12                           CrossRef--arXiv--bioRxiv        2
13          CrossRef--DataCite MDS--bioRxiv--figshare        2
14                    DataCite MDS--bioRxiv--figshare        2
15                        CrossRef--bioRxiv--figshare        2
16  Digital Access to Scholarship at Harvard--bioRxiv        1
17                   CrossRef--Mendeley Data--bioRxiv        1
18  CrossRef--Hyper Articles en Ligne (HAL)--arXiv...        1
19                             Mendeley Data--bioRxiv        1
20                                     arXiv--bioRxiv        1
21                                    Zenodo--bioRxiv        1
22  CrossRef--Digital Access to Scholarship at Har...        1
23  CrossRef--DataCite MDS--University of Texas at...        1
24                                DSpace@MIT--bioRxiv        1
25                 CrossRef--DataCite MDS--OSF--PeerJ        1
26  Arizona State University Digital Repository--C...        1
27             CrossRef--PeerJ--PubMed Central--arXiv        1
28                       PeerJ--PubMed Central--arXiv        1